{% extends "::base.html.twig" %}

{%  block title 'Poster un tweet' %}


{% block content %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}



{{ form_errors(form) }}




<div class="form-group">

    {{ form_label(form.message, "Message", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


    {{ form_errors(form.message) }}

    <div class="col-sm-10">

        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
        <input class="btn btn-default" type="submit" value="Envoyer">
    </div>
</div>




{{ form_rest(form) }}


{{ form_end(form) }}

{% endblock %}